@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 124, 39, 75;
  --background-rgb: 255, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 250, 250;
    --background-rgb: 124, 39, 75;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
